<div class="coach">
  <h1>Ask Coach</h1>
  <form action="/answer" method="get">
    <input type="text" name="question" class="simple_form search" placeholder="Type question">
    <input type="submit" value="Ask!" class="btn btn-flat">
  </form>
</div>
